/.obsidian/
/venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
db.sqlite3
Django/titanic_project/__pycache__/
Django/predictor/__pycache__/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
